header {
    padding: 15px 70px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
     img {
        width: 350px;
      }
  }

  nav.header a{
    color: $secondary-light;
    text-decoration: none;
    margin: 0 10px;
    font-size: 18px;
  }
  
  nav.header .login-button{
    border: 3px solid $primary;
    padding: 3px 15px;
    border-radius: 15pt;
  }