header {
  padding: 15px 70px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

header img {
  width: 350px;
}

nav.header a{
  color: #656565;
  text-decoration: none;
  margin: 0 10px;
  font-size: 18px;
}

nav.header .login-button{
  border: 3px solid #9D49F2;
  padding: 3px 15px;
  border-radius: 15pt;
}